name: StripDice Create Release

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    tags:
      - '*'
jobs:
  build:
    runs-on:
      - ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Set up Lua
        uses: leafo/gh-actions-lua@v6
        with:
          luaVersion: "5.3.5"

      # Runs a single command using the runners shell
      - name: Build with ant
        run: ant package

      - name: Crate Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body_path: target/working/changelog.txt
          draft: true
          prerelease: false
